

// Process Parameters:

// Process Parameters for changes_names_musa:
params.changes_names_musa.chain =  "IGH"  //* @dropdown @options:"IGH, IGL, IGK" @description:"column in data with V allele calls. Default is "v_call"."

// Process Parameters for changes_names_musa_1:
params.changes_names_musa_1.chain =  "IGH"  //* @dropdown @options:"IGH, IGL, IGK" @description:"column in data with V allele calls. Default is "v_call"."

// Process Parameters for ogrdbstats_report:
params.ogrdbstats_report.chain =  "IGHV"  //* @input @description:"The repertoire chain to produce the report on. Default is 'IGHV'."

// Pipeline Config:
$HOSTNAME='default'
params.nproc = 10 //* @input @description:"number of processes cores to use"
params.chain = "IGHV" //* @input @description:"chain"
params.ndm_chain = "IGH" //* @input @description:"chain"

process {
	
    container = 'peresay/suite:latest'

    withName: ogrdbstats_report {
            container = 'williamlees/ogrdbstats:latest'
        }
}

params.container = process.container

profiles {

    standard {
        process.executor = 'local'
        process.cpus = "10"
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }
}
